.landingPage{
    width: 100%;
    height: fit-content;
}

.landingHero{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    background-image: linear-gradient(45deg, rgba(36, 59, 69, 0.489),rgba(147, 98, 98, 0.493)), url('https://images.unsplash.com/photo-1525396524423-64f7b55f5b33?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.landingHero::-webkit-scrollbar {
    display: none;
  }
  


.landingHero-title{
    width: 60%;
    margin: 6% 0 0 4%;
}

.landingHero-title h1{
    color: aliceblue;
    font-size: 4rem;
}

.landingHero-title p{
    color: rgba(240, 248, 255, 0.68);
}

.Flight-search-container{
    margin-left: 8vw;
    width: fit-content;
    height: fit-content;
    background-color: rgba(10, 46, 153, 0.267);
    backdrop-filter: blur(15px);
    
    padding: 15px 20px 0px 20px;
    border-radius: 0.6rem;
}
.Flight-search-container h3{
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: rgb(232, 244, 255);
}
.Flight-search-container p{
    padding-bottom: 10px;
    text-align: center;
    color: rgb(121, 80, 80);
    font-weight: 500;
}
.form-check-label{
    color: rgb(12, 4, 49);
}
.Flight-search-container-body{
    display: flex direction column;
    /* height: 100%; */
    margin-top: 3vh;
    gap: 15px;
}
.Flight-search-container select{
    padding-left: 15px;
    width: 15vw;
    background-color: rgba(165, 186, 208, 0.831);
    border: none;
    color: rgb(5, 43, 68);
}
.Flight-search-container input{
    padding-left: 15px;
    width: 15vw;
    color: rgb(26, 52, 69);
    background-color: rgba(156, 154, 162, 0.831);
}
.Flight-search-container button{
    /* margin-bottom: 15px; */
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 500;
}

.availableFlightsContainer{
    margin: 3vh 5vw;
}
.availableFlightsContainer h1{

    color: aliceblue;
}

.availableFlightsContainer .Flights{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.availableFlightsContainer .Flights .Flight{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(190, 206, 206, 0.267);
    backdrop-filter: blur(15px);
    padding: 2vh 2vw;
    border-radius: 0.5rem;
}
.availableFlightsContainer .Flights .Flight p{
    margin: 0;
    color: rgb(50, 90, 130);
}
.availableFlightsContainer .Flights .Flight p b{
    font-weight: 600;
    color: rgb(45, 131, 158);
}


.section-about {
    min-height: 50vh;
    /* background-color: rgb(207, 221, 233); */
    background: rgb(75,143,209);
    background: linear-gradient(145deg, rgb(205, 227, 249) 0%, rgb(232, 239, 243) 55%, rgb(213, 189, 222) 100%);
  }
  .section-about h2{
  
    font-weight: 600;
    color: #055791;

}

.section-about p{
  text-align: justify;
  color: #055791;
}
.section-about span{
  text-align: center;
  color: #6badeb;
}
.section-about span h5{
  margin-top: 8vh;
  font-size: 1rem;
}